<!-- アクション名に対応したファイル名にする -->

<h1>Hello Index</h1>

<div class="button-container">
  <!-- new_post_path: Rails で定義されているもの( rails routes で一覧できる) -->
  <%= link_to "新しい投稿", new_post_path, class: "link-button" %>
</div>

<ul>
  <% @posts.each do |post| %>
  <li>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
    <span>
      <small><%= post.created_at %></small>
    </span>
  </li>
  <% end %>
</ul>